<h1 align="center"><%= @user.username %>'s page</h1>
    <div class="d-flex justify-content-center">
        <%= gravatar_for @user, size: 150 %>
    </div>

<h4 align="center"><%= @user.username %>'s articles</h4>

<%= render 'articles/articles', obj: @user.articles %>