<% if obj.errors.any? %>
    <div class="row">
        <div class="col-sm-10 offset-2">
            <div class="card text-danger border-danger mb-3 col-xs-12">
                <div class="card-header">Error</div>
                <div class="card-body">
                    <h2 class="card-title">
                        <%= pluralize(obj.errors.count, "error") %>
                        prevented this item from being saved:
                    </h2>
                    <div class="card-text">
                        <ul>
                            <% obj.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>